<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pdm Application</title>
    </head>
    <body style="background-color: black;">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Container wrapper -->
            <div class="container">
                <!-- Navbar brand -->
                <a class="navbar-brand me-2" href="/">
                    <img
                    src="https://cdn.dribbble.com/users/122240/screenshots/12030214/media/dd5fa692d7e4bf42347d8f1eccb92125.jpg?compress=1&resize=1600x1200&vertical=top"
                    height="16"
                    alt="MDB Logo"
                    loading="lazy"
                    style="margin-top: -1px;"
                    />
                </a>
                
                <!-- Toggle button -->
                <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <i class="fas fa-bars"></i>
            </button>
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">PdM Management Console</a>
                    </li>
                </ul>
                <!-- Left links -->
                
                <div class="d-flex align-items-center">
                    <a type="button" class="btn btn-link px-3 me-2" href="/customer_details" style="text-decoration: none;">
                        Customer Details
                    </a>
                    <a type="button" class="btn btn-primary me-3" href="/add_customer">
                        Add Customer
                    </a>
                    <a type="button" class="btn btn-secondary px-3 me-3" href="/ml_model" style="margin-left:400px">
                        Sensor Prediction
                    </a>
                    </div>
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
        <!-- Background image -->
        <!-- <div class="d-flex justify-content-center align-items-center" style=" background-color: black; height: 100vh;"> -->
            <div class="container">
                {% block base %} 
                {% endblock base %}
                </div>
        </div>
<!-- Background image -->
        
    </body>
    </html>